@font-face {
    font-family: 'MaisonNeueExtended-Book';
    src: url('https://github.com/liamscott1044/QualityScore/blob/main/fonts/MaisonNeueExtended-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: MaisonNeueExtended-Book, sans-serif;
    margin: 20px;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    background-color: #f5d3d0;
}

h1 {
    font-family: MaisonNeueExtended-Book, sans-serif;
    text-align: center;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #d72520;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f5d2d0;
}

#result {
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
}

footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: #666;
    background-color: rgba(255, 255, 255, 0.8); /* Optional: slightly transparent background */
    padding: 5px 10px;
    border-radius: 5px;
}
